@define-color red #eb4129;
@define-color yellow #f9e2af;
@define-color text #c0caf5;
@define-color bg #1a1b26;
/* #161722;*/

* {
  color: @text;
  font-family: JetBrains Mono Nerd Font;
  font-size: 14px;
}

window#waybar {
  background-color: @bg;
}

window#waybar.hidden {
  opacity: 0;
}

window#waybar.termite {
  background-color: #3f3f3f;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
}

#workspaces button {
  padding: 0 2px;
  background-color: transparent;
}

#workspaces button.active {
  font-weight: bold;
  color: @text;
  border: 0px;
}

#workspaces button.focused label {
  color: @text;
}

#workspaces button.urgent {
  color: @yellow;
}

#workspaces button.urgent label {
  color: @yellow;
}

#clock,
#battery,
#memory,
#network,
#pulseaudio,
#language {
  padding: 0 5px;
  margin: 1px;
  color: @text;
}

#window,
#workspaces {
  margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#battery.critical:not(.charging) {
  color: @red;
}
