* {
  font-family: "FiraCode Nerd Font", monospace;
  border-radius: 10px;
  transition: none !important;
}

window {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

#input {
  margin: 15px;
  margin-bottom: 0px;
  border: 0px #111;
  border-style: solid;
  border-radius: 10px;
  background-color: #222222;
  color: #e5d9f0;
  outline: none !important;
}

#outer-box {
  border: 3px #222222;
  border-style: solid;
  border-radius: 10px;
  background-color: #111;
}

#inner-box {
  padding: 10px;
}

#scroll {
  margin: 5px;
}

#text {
  padding: 4px;
  color: #e5d9f0;
}

#entry:selected {
  background-color: #2f2f2f;
}
