* {
  font-family: "FiraCode Nerd Font", monospace;
  border-radius: 0px;
  transition: none !important;
}

window {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
}

#input {
  margin: 15px;
  margin-bottom: 0px;
  border: 3px #a47de9;
  border-style: solid;
  border-radius: 0px;
  background-color: #151926;
  color: #e5e9f0;
  outline-color: #a47de9;
}

#outer-box {
  border: 3px #a47de9;
  border-style: solid;
  border-radius: 0px;
  background-color: #101421;
}

#inner-box {
  padding: 10px;
}

#scroll {
  margin: 5px;
}

#text {
  padding: 4px;
  color: #e5d9f0;
}

#entry:selected {
  background-color: #151926;
}
